In [5]:
print ("hello world")

hello world

MARKDOWN

# THIS IS MY 1ST PYTHON CODE

In [10]:
x = 5
y = 6
if x > y : print ("this is true")
else: print ("this is false")

this is false

In [22]:
x = int(input("Enter a number:"))
y = int(input("Enter a number:"))

if x % y == 0 : print("THIS IS EVEN")
else: print ("THIS IS ODD")

Enter a number: 1
Enter a number: 2

THIS IS ODD

In [2]:
"""" print("my 1st python code") """"

my 1st python code

In [6]:
x = 2
X = 5
print('x=' ,x)
print('X=', X)

x= 2
X= 5

In [10]:
x = "Ankit"
y = "Shakya"

print( x,y)

Ankit Shakya

In [12]:
7name = "Harry"

SyntaxError: invalid decimal literal (1397956.py, line 1)

In [20]:
name = "Ankit"
age = 20
print("my name is ", name)

my name is  Ankit

In [28]:
my_info = {name: "Sam" , age : 25}
print("type" , type(my_info))


#type() to show the data type

type <class 'dict'>

In [40]:
int_var = int(2.23)
int_var

2

In [36]:

int('45')

45

In [42]:
2+3

5

In [44]:
4%3

1

In [46]:
4**

SyntaxError: invalid syntax (2736665856.py, line 1)

In [48]:
5//3

1

In [58]:
x= 7*(3+8-4)/6

In [60]:
x

8.166666666666666

In [68]:
x = 5
x %=3
x

2

In [70]:
a= 2
b=3

a>2 and b>2

False

In [72]:
a= 2
b=3

a>2 or b>2

True

In [ ]:
// identity operator

In [80]:
x = 5,7
x

(5, 7)

In [27]:
days_of_week = ['Sunday', 'Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday']

days_of_week

len(days_of_week)

print(days_of_week[0])

print(days_of_week[-1])

days_of_week_0_3 = days_of_week[1:4]
days_of_week_0_3
days_of_week[:3]

'Saturday' in days_of_week

Sunday
Saturday

True

In [ ]:
#indexing 2 types implexive and exlivice

In [29]:
days_of_week[1] = "Mon"
days_of_week

['Sunday', 'Mon', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday']

In [39]:
days_of_week[5:6] = ["Fri","Sat"]
print(days_of_week)
print(len(days_of_week))

['Sunday', 'Mondi', 'Thrusday', 'Friday', 'Saturday', 'Fri', 'Sat', 'Sat']
8

In [34]:
days_of_week[1:3] = ["Mondi"]
days_of_week

['Sunday', 'Mondi', 'Thrusday', 'Friday', 'Saturday']

In [43]:
# inserting items
my_list = [1,2,3]
my_list.insert(1,"inserted")
my_list

[1, 'inserted', 2, 3]

In [45]:
list_to_add = [100,200]
my_list.extend(list_to_add)
my_list

[1, 'inserted', 2, 3, 100, 200]

In [47]:
my_list = ["One","Two","Three"]
my_list.remove("Two")
my_list

['One', 'Three']

In [51]:
my_list = [1,2,3]
my_list.pop(1)
my_list

[1, 3]

In [53]:
# SORT LIST 
months_list = ["Jan","Feb", "Mar", "Apr"]
months_list.sort()
months_list

['Apr', 'Feb', 'Jan', 'Mar']

In [57]:
num_list = [5,3,10,15,-1,100]
num_list.sort(reverse=True)
num_list

# for sorting by decending order

[100, 15, 10, 5, 3, -1]

In [61]:
cities_list = ["Kathmandu", "london" , "chicago", "new york", "Lahore"]
cities_list.sort()
cities_list

['Kathmandu', 'Lahore', 'chicago', 'london', 'new york']

In [65]:
cities_list = ["Kathmandu", "london" , "chicago", "new york", "Lahore"]
cities_list.sort(key =  str.lower)
cities_list

['chicago', 'Kathmandu', 'Lahore', 'london', 'new york']

In [71]:
# if statement
x= 7
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [69]:
x= 7
if x < 5:
    print("x is greater than 5")

In [87]:
# elif keyword also try with x= 6,1,2

x= 4
if x >5:
    print('x is greather than 5')
elif x >3:
    print('x is greater than 3')
elif x>1:
    print('x is greater than 1')

x is greater than 3

In [89]:
# else keyword
x=1
if x>5:
    print('x is greater than 5')
elif x>3:
    print('x is greater than 3')
elif x>1:
    print('x is greater than 1')
else:
    print("x is less than or equal to 1")

x is less than or equal to 1

In [93]:
#short-hand if
x =3
if x ==3: print("x is equal to 3")

x is equal to 3

In [2]:
# nested if

In [6]:
#while loop use case

x = 0 
while x <5:
    print(x)
    x +=1

0
1
2
3
4

In [12]:
x = 0 
while x < 10:
    print(x)
    x += 1
    if x == 4:
        break

# break statement

0
1
2
3

In [16]:
lst = {"one", "two" , "three"}
for num in lst:
    print(lst)
    print(num)

{'three', 'one', 'two'}
three
{'three', 'one', 'two'}
one
{'three', 'one', 'two'}
two

In [18]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [20]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [22]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [24]:
for i in range(2,10,3):
    print(i)

2
5
8

In [26]:
colors = ['red', 'blue', 'green']
objects= ['chair', 'table', 'house']
for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

In [32]:
for i in range (1,11):
    for j in range (1,11):
        sum = i * j
        print(f'{i} * {j} = {sum}')
#nested loop

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [46]:
def add(x,y):
    return x + y 
add(2,3)

5

In [64]:
def add(*nums):
    sum = 0 
    for i in nums:
        sum += i
    return sum
        
add(1,2,3,23)

#arbitary arguments (*args)

29

In [78]:
def multiply(x, y=3):
    return x*y
multiply(4)
#default value

12

In [68]:
multiply(4,4)

16

In [72]:
def sub(y,x=3):
    return x-y
sub(4)

-1

In [76]:
sum = lambda x,y,z: x+y+z
sum(1,2,3)
 #lambda function

6

In [6]:
my_typle = ("Hello", "world", 1,8,2)

In [12]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
tuple_3 = (7,8,9)

tuple= tuple_1 + tuple_2 + tuple_3
tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [28]:


set_1 = {1,2,"Hi", "there", "Hi", True}
set_1

{1, 2, 'Hi', 'there'}

In [24]:
len(set_1)

4

In [36]:
# python dictionary

city_pop = {
    "Chicago" :3.5,
    "New York" :7,
    "LA": 6
}
city_pop

{'Chicago': 3.5, 'New York': 7, 'LA': 6}

In [73]:

city_pop["Chicago"]

#getting the value (population) of "Chicago" (key)

3.5

In [54]:
city_pop.keys()

dict_keys(['Chicago'])

In [57]:
city_pop.values()

dict_values([3.5])

In [59]:
city_pop.items()

dict_items([('Chicago', 3.5)])

In [65]:
"Chicago" in city_pop

#checking if a particular key exists in a dictionary by using in keyword

True

In [63]:
"HI" in city_pop

False

In [71]:
city_pop["Florida"] = 2.5
city_pop

{'Chicago': 3.5, 'Florida': 2.5}

In [75]:
# Example lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Convert lists to dictionary
result_dict = dict(zip(keys, values))

# Output the result
print(result_dict)

{'a': 1, 'b': 2, 'c': 3}

In [4]:
class Student:
    school = "School of data science"



student1 = Student()
student2 = Student()
print(student1.school)
print(student2.school)

School of data science
School of data science

In [63]:
class Student:
    #constructure
    def __init__(self,name,level):
        self.name= name
        self.level = level

    def __str__(self):
        return '{} studies in level {}'.format(self.name, self.level)

    def level_up(self):
        self.level += 1

sam = Student("Sam James", 1)
print(sam)
sam.level_up()  
print(sam)

tom = Student("Tommy Bot" , 3)
print(tom)
tom.level_up()
print(tom)

student1 = Student("Katie Homie",1)
student2 = Student("Mike Tyson",3)
student3 = Student("ELPrimro", 11)

print(student1.name)
print(student2.name)

print(student1.level)
print(student2.level)

print(f"{student1.name} is in level {student1.level}")  #to output both name and level
print(f"{student2.name} is in level {student2.level}") 

print(student1) 
print(student2)
print(student3)

Sam James studies in level 1
Sam James studies in level 2
Tommy Bot studies in level 3
Tommy Bot studies in level 4
Katie Homie
Mike Tyson
1
3
Katie Homie is in level 1
Mike Tyson is in level 3
Katie Homie studies in level 1
Mike Tyson studies in level 3
ELPrimro studies in level 11

In [65]:
class MindRisers:
    def __init__(self,age,stu_name):
        
        self.age = age
        self.stu_name = stu_name
        
harry = Student("Harry",20)
print(harry)

Harry studies in level 20